.levelUpPopup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  text-align: center;
  z-index: 999;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
:root {
  --bg: #f1f5f9;
  --card: #ffffff;
  --primary: #6366f1;
  --secondary: #22c55e;
  --text: #1e293b;
  --subtext: #64748b;
  --border: #e2e8f0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

/* CENTER PAGE */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* MAIN CARD */
.card {
  width: 380px;
  padding: 25px;
  background: var(--card);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 15px;
}

.header h2 {
  margin: 0;
}

.header p {
  color: var(--subtext);
  font-size: 14px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* ACTIVITY LIST */
.activity {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  background: #f8fafc;
  cursor: pointer;
  transition: 0.2s;
}

.activity:hover {
  background: #c5c7d0;
}

/* TIMER */
.timer {
  text-align: center;
  margin-top: 20px;
}

.timer h1 {
  font-size: 32px;
  margin: 10px 0;
}

/* LOGOUT */
.logout {
  margin-top: 10px;
  background: #ef4444;
}
button {
  transition: 0.2s;
}

button:hover {
  transform: scale(1.02);
}